# This file contains machine-specific stuff that isn't set by the auto-detected
# hardware config.
{ config, pkgs, ... }:

{
  boot.loader.grub.device = "/dev/sda"; # or "nodev" for efi only

  networking.hostName = "CHANGEME"; # Define your hostname.
  networking.hostId = "CHANGEME";

  # Mount the root volume
  boot.initrd.luks.devices = [
    { name = "luksroot"; device = "/dev/disk/by-uuid/CHANGEME"; }
  ];

  # Get the encrypted swap mounted
  boot.initrd.postMountCommands = 
    "cryptsetup luksOpen --key-file /mnt-root/root/keyfile /dev/disk/by-uuid/CHANGEME swap";
  swapDevices = [
    { device = "/dev/mapper/swap"; }
  ];
}
