# This file contains machine-specific stuff that isn't set by the auto-detected
# hardware config.
{ config, pkgs, ... }:

{
  networking.hostName = "CHANGEME"; # Define your hostname.
  networking.hostId = "CHANGEME";

  # Mount the root volume
  boot.initrd.luks.devices = [
    { name = "root"; device = "/dev/disk/by-uuid/CHANGEME"; }
  ];

  # Disable hibernate resume, since it doesn't work and slows down the boot
  # process
  boot.resumeDevice = "/dev/null";

  # Get the encrypted swap mounted
  boot.initrd.postMountCommands =
    "cryptsetup luksOpen --key-file /mnt-root/swapkeyfile /dev/disk/by-uuid/CHANGEME swap";
}
